/* Makes landing page header the center of attention at the top of the page */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  background-color: grey;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
}

#weatherBoard {
  margin-top: 7rem;
}

#searchBarTitle {
  background-color: lightsalmon;
  border: black 1px solid; 
}

li {
  list-style: none;
  border: black 1px solid; 
}

#currentDayBox {
  border: black 1px solid; 
  margin-left: 5%;
}