/* Makes landing page header the center of attention at the top of the page */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  background-color: grey;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
}

h2, h3 {
  font-weight: bold;
}

ul, li {
  font-family: 'Open Sans', sans-serif;
}

#weatherBoard {
  margin-top: 7rem;
}

#searchBarTitle {
  background-color: rgb(248, 249, 250);
  border: black 1px solid; 
}

#currentDayBox, .card {
  font-family: 'Open Sans', sans-serif;
  margin-left: 3%;
  font-size: 18px;
}

#fiveDayForecastBoxes {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 3%;
  margin-top: 2%;
}

/* .card {
  font-family: 'Open Sans', sans-serif;
  margin-left
} */